<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>

    <main style="margin: 1em;">
      <% if (message) { %>
        <!-- If the message exists, show the message to the user -->
        <div class="alert alert-warning" role="alert">
          <%= message %>
        </div>
      <% } else { %>
        <!-- Display the table with URLs if the user is logged in -->
        <h3>My URLs</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Short URL ID</th>
              <th scope="col">Long URL</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for (let id in urls) { %>
              <tr>
                <td><%= id %></td>
                <td><%= urls[id].longURL %></td>
                <td>
                  <form method="POST" action="/urls/<%= id %>/delete" style="display: inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </form>
                  <button 
                    class="btn btn-primary btn-sm" 
                    onclick="openEditModal('<%= id %>', '<%= urls[id].longURL %>')">
                    Quick Edit
                  </button>
                  <a href="/urls/<%= id %>" class="btn btn-secondary btn-sm">Details</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>
    </main>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit URL</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Edit Form -->
            <form id="editForm" method="POST" action="">
              <div class="form-group">
                <label for="modalShortCode">Short URL ID:</label>
                <input 
                  type="text" 
                  id="modalShortCode" 
                  class="form-control" 
                  readonly 
                  style="background-color: #e9ecef;">
              </div>
              <div class="form-group">
                <label for="modalLongURL">Long URL:</label>
                <input 
                  type="text" 
                  id="modalLongURL" 
                  name="longURL" 
                  class="form-control" 
                  required>
              </div>
            </form>

            <!-- QR Code Section -->
            <div class="text-center mt-4">
              <h6>QR Code</h6>
              <img 
                id="modalQRCode" 
                src="" 
                alt="QR Code" 
                class="img-fluid" 
                style="max-width: 250px; border: 1px solid #ddd; padding: 10px;">
              <br>
              <a 
                id="modalQRDownload" 
                href="" 
                download="" 
                class="btn btn-sm btn-info mt-2">
                Download QR Code
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="submitEdit()">Update URL</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Modal JavaScript -->
    <script>
      function openEditModal(shortCode, longURL) {
        // Set form action
        document.getElementById('editForm').action = '/urls/' + shortCode;
        
        // Populate form fields
        document.getElementById('modalShortCode').value = shortCode;
        document.getElementById('modalLongURL').value = longURL;
        
        // Set QR code image
        document.getElementById('modalQRCode').src = '/urls/' + shortCode + '/qr';
        
        // Set QR download link
        const downloadLink = document.getElementById('modalQRDownload');
        downloadLink.href = '/urls/' + shortCode + '/qr';
        downloadLink.download = 'qrcode-' + shortCode + '.png';
        
        // Show modal
        $('#editModal').modal('show');
      }

      function submitEdit() {
        // Submit the form
        document.getElementById('editForm').submit();
      }
    </script>
  </body>
</html>
  </body>
</html>
